.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  color: white;
  font-size: calc(1.5vmin);
  padding: 2vh;
}
.App-header-1, .App-header-2 {
  display: flex;
  justify-content: space-between;
  
}
.App-header-right {
  display: flex;
  justify-content: space-around;
  gap:2vw;
  
}


.App-footer {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color: white;
}
.App-content {
  background-color: white;
  background-image: url('../images/landscape10.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
  font-size: calc(1.5vmin);
  padding:5vh;
  gap:5vw;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}
.shop-image {
  height:300px;
  width: 300px;

}
button{
 
  border-radius: 5px;
  transition: transform .3s;
}
button:hover {
  transform: scale(1.1); 
  border-color:  #15e923;
  box-shadow: 0 0 50px #15e923;
  cursor:pointer;
 
}
.product{
  border-style: solid;
  background-color: white;
  height:400px;
  
}
.sub-image{
  text-align: center;
}
a{
  text-decoration: none;
  color:inherit;
}
.badge:after{
  content:attr(value);
  font-size:18px;
  color: #fff;
  background: red;
  border-radius:50%;
  padding: 0 5px;
  position:relative;
  left:-8px;
  top:-10px;
  opacity:0.9;
}
.home-image{
  width: max(9.229vw, 600px);
  height: max(9.229vw, 600px);
  overflow: hidden;
}